.btnAdd {
  position: relative; 
  display: inline-block;
  margin-top: 1px;  
  float: right;      
  background-color: #28a745; 
  color: #fff;
  border: none;
  border-radius: 6px;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 600;  

  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: darken(#28a745, 5%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background-color: darken(#28a745, 10%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}