#profile-container {
  position: relative; // cria contexto pro menu
}

#profile-menu {
  position: absolute;
  top: 70px; // logo abaixo do header
  right: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  width: 180px;
  font-family: $font-family;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.2s ease-in-out;

  button {
    background: none;
    border: none;
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &.hidden {
    display: none;
  }
}