.main-content {
  position: absolute;
  top: 60px;    
  left: 220px;        
  width: calc(100% - 220px);
  height: calc(100vh - 60px);
  background: #fff;
  padding: 30px;
  overflow-y: auto; 
  font-family: $font-family;
  color: #0f0f0f;
  box-sizing: border-box;
}